<form class="edit-item-container">
  <div class="thumbnail-container">
    <img
      src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"
      alt="Thumbnail"
    />
  </div>

  <div class="content">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput disabled="true" type="number" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Thumbnail URL</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <mat-label>Data de Criação</mat-label>
            <input matInput type="date" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Legenda</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Autor</mat-label>
            <input matInput type="Autor" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Coleção</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <mat-label>Material</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Doador</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Técnica</mat-label>
            <input matInput type="text" />
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-checkbox>Digitalizado</mat-checkbox>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Criado em</mat-label>
            <input matInput disabled="true" type="datetime-local" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Atualizado em</mat-label>
            <input matInput disabled="true" type="datetime-local" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="text">
      <mat-form-field appearance="fill">
        <mat-label>Contexto Histórico</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button matButton="outlined">Basic</button>
      <button matButton="filled">Basic</button>
    </div>
  </div>
</form>
