<header>
    <div class="logo">
        <h1>MvFurg</h1>
    </div>
    <nav>
        <ul>
            <li><button mat-button (click)="navegate('inicio')">Início</button></li>
            <li><button mat-button (click)="navegate('sobre')">Sobre</button></li>
            <li><button mat-button (click)="navegate('acervo')">Acervo</button></li>
            <li><button mat-button (click)="navegate('galeria')">Galeria</button></li>
            <li><button mat-button (click)="navegate('biblioteca')">Biblioteca</button></li>
            <li><button mat-button (click)="navegate('contato')">Contato</button></li>
          </ul>
      </nav>
      <button id="logar" mat-button (click)="navegate('login')">Logar</button>
  </header>