header {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    display: flex;
    justify-content: space-between;
    padding: 2vh;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1vh;
  }
  