.footer-container {
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.footer-top{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-about,
.footer-social {
  margin: 1vh;
}

.footer-social ul {
  list-style-type: none;
  padding: 0;
}

.footer-social ul li {
  margin: 10px 0;
}

.footer-social ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  width: 100%;
  font-size: 0.9em;
}
