<body>
    <div class="conteudo">

        <h1 class="titulo">Acesse sua Conta</h1>
        <form>
            <mat-form-field class="inputs" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        
            <mat-form-field class="inputs" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <button mat-flat-button routerLink="/painel-administrativo">Entrar</button>
        </form>
    </div>
</body>