.conteudo {
    border-radius: 5%;
    height: max-content;
    width: max-content;
    padding: 2vh;
    background-color: var(--mat-sys-primary-container);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.titulo{
    margin: 0 auto;
    margin-bottom: 5vh;
}

form{
    display: flex;
    flex-direction: column;
}

.inputs{
    margin: 0 2vh;
}

button{
    margin: 0 2vh;
}

.padrao{
    display: flex;
    flex-direction: column;
}
