<div class="sla">
    <div class="conteudo">

        <h1 class="titulo">Acesse sua Conta</h1>
        <div class="padrao">
            <mat-form-field class="inputs" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        
            <mat-form-field class="inputs" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <button mat-flat-button routerLink="/admin/adminPage">Entrar</button>
        </div>
    </div>
</div>