<header>
    <div class="logo">
        <h1>MvFurg</h1>
    </div>
    <nav>
        <ul>
            <li><button mat-button routerLinkActive="activebutton" routerLink="/main/home">Início</button></li>
            <li><button mat-button routerLink="/main/about">Sobre</button></li>
            <li><button mat-button routerLink="/main/archive">Acervo</button></li>
            <li><button mat-button routerLink="/main/gallery">Galeria</button></li>
            <li><button mat-button routerLink="/main/library">Biblioteca</button></li>
            <li><button mat-button routerLink="/main/contact">Contato</button></li>
          </ul>
      </nav>
      <button id="logar" mat-button routerLink="/login">Logar</button>
  </header>