<header>
    <div class="logo">
        <h1>MvFurg</h1>
    </div>
    <nav>
        <ul>
            <li><button mat-button routerLinkActive="activebutton" routerLink="/inicio">Início</button></li>
            <li><button mat-button routerLink="/sobre">Sobre</button></li>
            <li><button mat-button routerLink="/acervo">Acervo</button></li>
            <li><button mat-button routerLink="/galeria">Galeria</button></li>
            <li><button mat-button routerLink="/biblioteca">Biblioteca</button></li>
            <li><button mat-button routerLink="/contato">Contato</button></li>
          </ul>
      </nav>
      <button id="logar" mat-button routerLink="/login">Logar</button>
  </header>