:host {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh; /* 100% da viewport height */
  width: 100vw; /* 100% da viewport width */
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 80vh;
  flex: 1;
}
