.box{
    width: 70vw;
    height: 80vh;
    background-color: var(--mat-sys-primary-container);
    padding: 20px;
    border-radius: 10px;
}

.titulos{
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
    border-top: 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.conteudo{
    background-color: var(--mat-sys-tertiary-container);
}

.btn_cancelar{
    color: red;
}