<app-header></app-header>
<div class="container">
  <div>
    <p>Contato</p>
    <mat-divider></mat-divider>
    <p>Contato

      Quer entrar em contato conosco?
      <br><br>
      Envie suas dúvidas, sugestões ou comentários. Estamos à disposição para ajudá-lo e tornar sua experiência no Museu Virtual da FURG ainda mais enriquecedora!
      <br><br>
          E-mail: contato&#64;mvfurg.com.br<br>
          Telefone: (53) 99999-9999<br>
          Endereço: Universidade Federal do Rio Grande, Rio Grande - RS, Brasil
          <br><br>
          Fique à vontade para nos enviar uma mensagem. Adoraríamos ouvir você!
    </p>
  </div>
</div>
<app-footer></app-footer>