<div class="container">
  <div>
    <p>Sobre</p>
    <mat-divider></mat-divider>
    <p>O Museu Virtual da FURG (MvFurg) é um projeto inovador que visa promover o acesso digital a acervos históricos, artísticos e científicos da Universidade Federal do Rio Grande. Nossa missão é preservar e compartilhar a riqueza cultural da nossa região com o mundo, utilizando a tecnologia para criar um ambiente interativo e acessível a todos.

      Por meio de exposições virtuais, biblioteca digital e galerias multimídia, oferecemos ao público a oportunidade de conhecer, pesquisar e se conectar com conteúdos que valorizam a memória e o conhecimento. O MvFurg é um espaço onde o passado encontra o presente, e juntos, projetamos um futuro onde o saber é acessível a todos.

      Explore o nosso acervo, descubra novas perspectivas e faça parte desta jornada cultural!
    </p>
  </div>
</div>